.footer-container {
  padding: 5vh 6.8% 0 6.8%;
  padding-bottom: 5vh;
}

.footerTitle {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  color: #d8d8d8;
}

.At-TeamX {
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  padding-bottom: 2vh;
}

.resources{
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  display: inline-block;
  width: 50%;
  padding-bottom: 2vh;
}

.contactInfo {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.2px;
  text-align: left;
  color: #ffffff;
  width: 50%;
  padding-bottom: 2vh;
}

.footerSec a{
  color: white;
  text-decoration: none;
  margin-bottom: .5rem;
  font-size: 14px;
}

.footerSec i {
  font-size: 30px;
}

.footerSec a:hover{
  color: rgb(223, 222, 222);
}

.footerSec p:hover{
  color: rgb(223, 222, 222);
}

.fa-facebook-square {
  color: white;
  margin-right: 3%;
  border-radius: 8px; 
}

.fa-twitter-square {
  color: white;
  margin-right: 3%;
  border-radius: 8px; 
}

.fa-github-square {
  color: white;
  border-radius: 8px; 
}

/* .bg-dark {
  padding-bottom: 10vh; 
} */