
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }


  .project-img{
    border-style: solid;
    border-color:gainsboro;
  }
  .footer-words {
    margin-top: 6px;
}
.footer-section {
  font-family: 'Black Ops One';
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  text-shadow: 1px 1px 4px rgb(104, 79, 72);
  bottom: 0;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 88%;
  text-align: center;
  border-top: 1px solid grey;
  width: 100%;
  z-index: 90;
}
.footerTitle {
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  
}
.fabsquare{
  font-size: 3rem;
  color: black;
}
