.nav {
  margin-top: 5px;
}

nav {
  padding-left: 6.8% !important;
  padding-right: 5.5% !important;
}

.options{
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  text-align: left;
  margin-right: 20px;
}

.nav-link{
  color: #000000 !important;
}

.Rectangle-4 {
  padding-left: 6px;
  width: 116px;
  height: 43px;
  background-color: #ff0000;
}

.teamLogo{
  width: 130px;
  height: 35px;
}

#Contact {
  width: 99px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.3px;
  color: #ffffff !important;
}
